section {
    width: 70em;
    height: 100em;
    border: 5px solid #1d1002;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

section .face {
    height: 60em;
    background-color: yellow;
}

section .shirt {
    height: 20em;
    background-color: white;
}

section .trouser {
    height: 20em;
    background-color: #804000;
}

section .trouser .dark {
    width: 10em;
    height: 6em;
    background-color: #1d1002;
}